@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #03ff68 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #03ff68 !important;
  border-color: #03ff68 !important;
  color: #000301 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #00ab45 !important;
  border-color: #00ab45 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000301 !important;
  background-color: #00ab45 !important;
  border-color: #00ab45 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #03ff68;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #00ab45 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000301 !important;
  background-color: #03ff68 !important;
  border-color: #03ff68 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #03ff68 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #009c3f !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #03ff68;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #cfffe2;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-supQFtdrAK {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-supQFtdrAK nav.navbar {
  position: fixed;
}
.cid-supQFtdrAK .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-supQFtdrAK .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-supQFtdrAK .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-supQFtdrAK .dropdown-item:hover,
.cid-supQFtdrAK .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-supQFtdrAK .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-supQFtdrAK .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-supQFtdrAK .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-supQFtdrAK .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-supQFtdrAK .nav-link {
  position: relative;
}
.cid-supQFtdrAK .container {
  display: flex;
  margin: auto;
}
.cid-supQFtdrAK .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-supQFtdrAK .dropdown-menu,
.cid-supQFtdrAK .navbar.opened {
  background: #ffffff !important;
}
.cid-supQFtdrAK .nav-item:focus,
.cid-supQFtdrAK .nav-link:focus {
  outline: none;
}
.cid-supQFtdrAK .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-supQFtdrAK .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-supQFtdrAK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-supQFtdrAK .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-supQFtdrAK .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-supQFtdrAK .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-supQFtdrAK .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-supQFtdrAK .navbar.opened {
  transition: all .3s;
}
.cid-supQFtdrAK .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-supQFtdrAK .navbar .navbar-logo img {
  width: auto;
}
.cid-supQFtdrAK .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-supQFtdrAK .navbar.collapsed {
  justify-content: center;
}
.cid-supQFtdrAK .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-supQFtdrAK .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-supQFtdrAK .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-supQFtdrAK .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-supQFtdrAK .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-supQFtdrAK .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-supQFtdrAK .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-supQFtdrAK .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-supQFtdrAK .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-supQFtdrAK .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-supQFtdrAK .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-supQFtdrAK .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-supQFtdrAK .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-supQFtdrAK .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-supQFtdrAK .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-supQFtdrAK .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-supQFtdrAK .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-supQFtdrAK .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-supQFtdrAK .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-supQFtdrAK .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-supQFtdrAK .navbar.navbar-short {
  min-height: 60px;
}
.cid-supQFtdrAK .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-supQFtdrAK .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-supQFtdrAK .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-supQFtdrAK .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-supQFtdrAK .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-supQFtdrAK .dropdown-item.active,
.cid-supQFtdrAK .dropdown-item:active {
  background-color: transparent;
}
.cid-supQFtdrAK .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-supQFtdrAK .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-supQFtdrAK .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-supQFtdrAK .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-supQFtdrAK .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-supQFtdrAK .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-supQFtdrAK ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-supQFtdrAK .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-supQFtdrAK button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-supQFtdrAK button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-supQFtdrAK button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-supQFtdrAK button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-supQFtdrAK button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-supQFtdrAK button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-supQFtdrAK nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-supQFtdrAK nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-supQFtdrAK nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-supQFtdrAK nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-supQFtdrAK .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-supQFtdrAK a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-supQFtdrAK .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-supQFtdrAK .navbar {
    height: 70px;
  }
  .cid-supQFtdrAK .navbar.opened {
    height: auto;
  }
  .cid-supQFtdrAK .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-supQJEWuU1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/64731446-daade580-d4a6-11e9-8d90-d3014d4b986b.gif");
}
.cid-supQJEWuU1 .mbr-section-title {
  color: #ffffff;
}
.cid-supQJEWuU1 .mbr-text,
.cid-supQJEWuU1 .mbr-section-btn {
  color: #ffffff;
}
.cid-supQJEWuU1 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sDnBSk8JiE {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sDnBSk8JiE .mbr-section-btn .btn-secondary-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDnBSk8JiE .mbr-section-btn .btn-secondary-outline:hover,
.cid-sDnBSk8JiE .mbr-section-btn .btn-secondary-outline .active,
.cid-sDnBSk8JiE .mbr-section-btn .btn-secondary-outline:focus {
  color: #000000 !important;
}
.cid-sDnBSk8JiE img,
.cid-sDnBSk8JiE .item-img {
  border-radius: 4px;
}
.cid-sDnBSk8JiE .item-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
.cid-sDnBSk8JiE .item-img img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  will-change: transform;
}
.cid-sDnBSk8JiE .item-img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .45;
  background-color: #000000;
  z-index: 5;
  pointer-events: none;
  border-radius: 4px;
}
.cid-sDnBSk8JiE .item:focus,
.cid-sDnBSk8JiE span:focus {
  outline: none;
}
.cid-sDnBSk8JiE .item {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .cid-sDnBSk8JiE .item:last-child {
    margin-bottom: 0;
  }
}
.cid-sDnBSk8JiE .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.cid-sDnBSk8JiE .item-wrapper:hover .item-img img {
  transform: scale3d(1.2, 1.2, 1);
}
.cid-sDnBSk8JiE .item-wrapper:hover .post_wrap {
  opacity: 1;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
  transform: translateY(0);
}
.cid-sDnBSk8JiE .item-wrapper .mbr-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDnBSk8JiE .card_post {
  display: inline-flex;
  align-items: center;
  padding: 40px;
  padding-bottom: 0;
}
.cid-sDnBSk8JiE .post_wrap {
  position: relative;
  z-index: 5;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
}
@media (min-width: 991px) {
  .cid-sDnBSk8JiE .post_wrap {
    opacity: 0;
    transform: translateY(-10px);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  }
}
.cid-sDnBSk8JiE .image_post {
  display: inline-block;
  height: 46px;
  width: 46px;
  min-width: 46px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  margin-right: 15px;
  border-radius: 50%;
}
.cid-sDnBSk8JiE .image_post img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cid-sDnBSk8JiE .author_post {
  display: inline-block;
  white-space: nowrap;
}
.cid-sDnBSk8JiE .item-content {
  padding: 40px;
  height: 100%;
  min-height: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cid-sDnBSk8JiE .item-content > div {
  position: relative;
  z-index: 5;
}
.cid-sDnBSk8JiE .category_content {
  opacity: .8;
}
.cid-sDnBSk8JiE .mbr-section-subtitle,
.cid-sDnBSk8JiE .card_topic {
  margin-bottom: 12px;
}
.cid-sDnBSk8JiE .mbr-text {
  margin: 25px 0;
  padding-left: 25px;
  border-left: 5px solid #f3b92f;
}
.cid-sDnBSk8JiE .card_topic .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 3px;
}
@media (max-width: 767px) {
  .cid-sDnBSk8JiE .item-content,
  .cid-sDnBSk8JiE .card_post {
    padding: 20px;
  }
}
.cid-sDnBSk8JiE .mbr-section-subtitle {
  color: #232226;
}
.cid-sDnBSk8JiE .mbr-section-title {
  color: #232226;
}
.cid-sDv2YgXvs7 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #f8f8f8;
}
.cid-sDv2YgXvs7 .mbr-section-btn .btn-secondary-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDv2YgXvs7 .mbr-section-btn .btn-secondary-outline:hover,
.cid-sDv2YgXvs7 .mbr-section-btn .btn-secondary-outline .active,
.cid-sDv2YgXvs7 .mbr-section-btn .btn-secondary-outline:focus {
  color: #000000 !important;
}
.cid-sDv2YgXvs7 img,
.cid-sDv2YgXvs7 .item-img {
  border-radius: 4px;
}
.cid-sDv2YgXvs7 .item-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
.cid-sDv2YgXvs7 .item-img img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  will-change: transform;
}
.cid-sDv2YgXvs7 .item-img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .45;
  background-color: #000000;
  z-index: 5;
  pointer-events: none;
  border-radius: 4px;
}
.cid-sDv2YgXvs7 .item:focus,
.cid-sDv2YgXvs7 span:focus {
  outline: none;
}
.cid-sDv2YgXvs7 .item {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .cid-sDv2YgXvs7 .item:last-child {
    margin-bottom: 0;
  }
}
.cid-sDv2YgXvs7 .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.cid-sDv2YgXvs7 .item-wrapper:hover .item-img img {
  transform: scale3d(1.2, 1.2, 1);
}
.cid-sDv2YgXvs7 .item-wrapper:hover .post_wrap {
  opacity: 1;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
  transform: translateY(0);
}
.cid-sDv2YgXvs7 .item-wrapper .mbr-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDv2YgXvs7 .card_post {
  display: inline-flex;
  align-items: center;
  padding: 40px;
  padding-bottom: 0;
}
.cid-sDv2YgXvs7 .post_wrap {
  position: relative;
  z-index: 5;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
}
@media (min-width: 991px) {
  .cid-sDv2YgXvs7 .post_wrap {
    opacity: 0;
    transform: translateY(-10px);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  }
}
.cid-sDv2YgXvs7 .image_post {
  display: inline-block;
  height: 46px;
  width: 46px;
  min-width: 46px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  margin-right: 15px;
  border-radius: 50%;
}
.cid-sDv2YgXvs7 .image_post img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cid-sDv2YgXvs7 .author_post {
  display: inline-block;
  white-space: nowrap;
}
.cid-sDv2YgXvs7 .item-content {
  padding: 40px;
  height: 100%;
  min-height: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cid-sDv2YgXvs7 .item-content > div {
  position: relative;
  z-index: 5;
}
.cid-sDv2YgXvs7 .category_content {
  opacity: .8;
}
.cid-sDv2YgXvs7 .mbr-section-subtitle,
.cid-sDv2YgXvs7 .card_topic {
  margin-bottom: 12px;
}
.cid-sDv2YgXvs7 .mbr-text {
  margin: 25px 0;
  padding-left: 25px;
  border-left: 5px solid #f3b92f;
}
.cid-sDv2YgXvs7 .card_topic .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 3px;
}
@media (max-width: 767px) {
  .cid-sDv2YgXvs7 .item-content,
  .cid-sDv2YgXvs7 .card_post {
    padding: 20px;
  }
}
.cid-sDv2YgXvs7 .mbr-section-subtitle {
  color: #232226;
}
.cid-sDv2YgXvs7 .mbr-section-title {
  color: #232226;
}
.cid-sDv7yX1NFQ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f8f8;
}
.cid-sDv7yX1NFQ .mbr-section-btn .btn-secondary-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDv7yX1NFQ .mbr-section-btn .btn-secondary-outline:hover,
.cid-sDv7yX1NFQ .mbr-section-btn .btn-secondary-outline .active,
.cid-sDv7yX1NFQ .mbr-section-btn .btn-secondary-outline:focus {
  color: #000000 !important;
}
.cid-sDv7yX1NFQ img,
.cid-sDv7yX1NFQ .item-img {
  border-radius: 4px;
}
.cid-sDv7yX1NFQ .item-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
.cid-sDv7yX1NFQ .item-img img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  will-change: transform;
}
.cid-sDv7yX1NFQ .item-img:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .45;
  background-color: #000000;
  z-index: 5;
  pointer-events: none;
  border-radius: 4px;
}
.cid-sDv7yX1NFQ .item:focus,
.cid-sDv7yX1NFQ span:focus {
  outline: none;
}
.cid-sDv7yX1NFQ .item {
  margin-bottom: 3rem;
}
@media (max-width: 991px) {
  .cid-sDv7yX1NFQ .item:last-child {
    margin-bottom: 0;
  }
}
.cid-sDv7yX1NFQ .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.cid-sDv7yX1NFQ .item-wrapper:hover .item-img img {
  transform: scale3d(1.2, 1.2, 1);
}
.cid-sDv7yX1NFQ .item-wrapper:hover .post_wrap {
  opacity: 1;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
  transform: translateY(0);
}
.cid-sDv7yX1NFQ .item-wrapper .mbr-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.cid-sDv7yX1NFQ .card_post {
  display: inline-flex;
  align-items: center;
  padding: 40px;
  padding-bottom: 0;
}
.cid-sDv7yX1NFQ .post_wrap {
  position: relative;
  z-index: 5;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
}
@media (min-width: 991px) {
  .cid-sDv7yX1NFQ .post_wrap {
    opacity: 0;
    transform: translateY(-10px);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  }
}
.cid-sDv7yX1NFQ .image_post {
  display: inline-block;
  height: 46px;
  width: 46px;
  min-width: 46px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  margin-right: 15px;
  border-radius: 50%;
}
.cid-sDv7yX1NFQ .image_post img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cid-sDv7yX1NFQ .author_post {
  display: inline-block;
  white-space: nowrap;
}
.cid-sDv7yX1NFQ .item-content {
  padding: 40px;
  height: 100%;
  min-height: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cid-sDv7yX1NFQ .item-content > div {
  position: relative;
  z-index: 5;
}
.cid-sDv7yX1NFQ .category_content {
  opacity: .8;
}
.cid-sDv7yX1NFQ .mbr-section-subtitle,
.cid-sDv7yX1NFQ .card_topic {
  margin-bottom: 12px;
}
.cid-sDv7yX1NFQ .mbr-text {
  margin: 25px 0;
  padding-left: 25px;
  border-left: 5px solid #f3b92f;
}
.cid-sDv7yX1NFQ .card_topic .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 3px;
}
@media (max-width: 767px) {
  .cid-sDv7yX1NFQ .item-content,
  .cid-sDv7yX1NFQ .card_post {
    padding: 20px;
  }
}
.cid-sDv7yX1NFQ .mbr-section-subtitle {
  color: #232226;
}
.cid-sDv7yX1NFQ .mbr-section-title {
  color: #232226;
}
.cid-sDvdo1ktBR.popup-builder {
  background-color: #ffffff;
}
.cid-sDvdo1ktBR.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sDvdo1ktBR.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sDvdo1ktBR .modal-content,
.cid-sDvdo1ktBR .modal-dialog {
  height: auto;
}
.cid-sDvdo1ktBR .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sDvdo1ktBR .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sDvdo1ktBR .form-wrapper .mbr-form .form-group,
  .cid-sDvdo1ktBR .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sDvdo1ktBR .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sDvdo1ktBR .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sDvdo1ktBR .mbr-text {
  text-align: center;
}
.cid-sDvdo1ktBR .pt-0 {
  padding-top: 0 !important;
}
.cid-sDvdo1ktBR .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sDvdo1ktBR .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sDvdo1ktBR .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sDvdo1ktBR .modal-open {
  overflow: hidden;
}
.cid-sDvdo1ktBR .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sDvdo1ktBR .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sDvdo1ktBR .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sDvdo1ktBR .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sDvdo1ktBR .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sDvdo1ktBR .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sDvdo1ktBR .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sDvdo1ktBR .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sDvdo1ktBR .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sDvdo1ktBR .modal-backdrop.fade {
  opacity: 0;
}
.cid-sDvdo1ktBR .modal-backdrop.show {
  opacity: .5;
}
.cid-sDvdo1ktBR .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-sDvdo1ktBR .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sDvdo1ktBR .modal-header .close:hover {
  opacity: 1;
}
.cid-sDvdo1ktBR .modal-header .close:focus {
  outline: none;
}
.cid-sDvdo1ktBR .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sDvdo1ktBR .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-sDvdo1ktBR .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-sDvdo1ktBR .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sDvdo1ktBR .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sDvdo1ktBR .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sDvdo1ktBR .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sDvdo1ktBR .modal-sm {
    max-width: 300px;
  }
  .cid-sDvdo1ktBR .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sDvdo1ktBR .modal-lg,
  .cid-sDvdo1ktBR .modal-xl {
    max-width: 800px;
  }
  .cid-sDvdo1ktBR .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-sDvdo1ktBR .modal-xl {
    max-width: 1140px;
  }
  .cid-sDvdo1ktBR .container {
    max-width: 1140px;
  }
}
.cid-sDvdo1ktBR .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sDvdo1ktBR .container {
    max-width: 720px;
  }
}
.cid-sDvdo1ktBR .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sDvdo1ktBR .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sDvdo1ktBR .form-group {
  margin-bottom: 1rem;
}
.cid-sDvdo1ktBR .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sDvdo1ktBR .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sDvdo1ktBR .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sFF0yZlajk {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
